.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 0 0;
}

.title {
  font-size: 50px;
  margin-bottom: 30px;
}

.description {
  text-align: center;
  font-size: 30px;
}

.phone {
  margin-bottom: 50px;
}

.link:hover {
  color: rgb(0, 16, 191);
}
